#Ignores unnecesary folders
StardewValley
NVIDIA\ Corporation
wireshark
gcloud
btop

#Ignores unnecesary files
nix/flake.lock
.DS_Store
com.nvidia.devtools
linearmouse/linearmouse.json
btop/btop.conf
