#Ignores unnecesary folders
StardewValley
NVIDIA\ Corporation
wireshark
gcloud
btop
gh
linearmouse
coredns-repo
darktable

#Ignores unnecesary files
nix/flake.lock
.DS_Store
com.nvidia.devtools
coredns/coredns-repo
